# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

# Virtual Environments
.venv/
venv/
env/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*~

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Packaging & Archives
node.zip
*.zip
*.tar.gz


# Ruff
.ruff_cache/
